.container {
  width: 500px;
  margin: 100px auto;
  position: relative;
}

.submit-container {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 40px;
}

#todo-input {
  border: 1px solid #ccc;
  height: 24px;
  width: 150px;
  font-size: 11px;
  padding: 0 2px;
}

button {
  font-size: 12px;
  background-color: #4267b2;
  border-color: #29487d;
  border-radius: 0;
  color: white;
  cursor: pointer;
  height: 25px;
}

buttom:hover {
  background-color: #365899;
}

ul {
  padding: 2px 10px;
  list-style: none;
  /*padding-left: 0px;*/
  background-color: yellow;
}

.first {
  background-color: blue;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  /*border: 1px solid black;*/
  line-height: : 30px;
  padding: 5px;
}

footer {
  padding: 10px;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40px;
  left: -300px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.links-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: blue;
}
